
@{
    ViewData["Title"] = "Index";
}

<h2>transaction</h2>

<h2>laten zien van transactie starten </h2>
<h2>producten oproepen die je scant of invoert </h2>
<h2>in de pagina weergeven dus partial views zijn handig of iets waardoor pagina herlaad zonder gegevens kwijt te raken </h2>